[submodule "lib/klib"]
	path = lib/klib
	url = https://github.com/attractivechaos/klib.git
[submodule "lib/cc"]
	path = lib/cc
	url = https://github.com/srdja/Collections-C.git
[submodule "lib/liblfds"]
	path = lib/liblfds
	url = https://github.com/Tengs-Penkwe/liblfds.git
[submodule "tests/Unity"]
	path = tests/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "lib/ck"]
	path = lib/ck
	url = https://github.com/concurrencykit/ck.git
[submodule "lib/junction"]
	path = lib/junction
	url = https://github.com/preshing/junction.git
[submodule "lib/turf"]
	path = lib/turf
	url = https://github.com/preshing/turf.git
[submodule "lib/libcuckoo"]
	path = lib/libcuckoo
	url = https://github.com/efficient/libcuckoo.git
