[submodule "lib/klib"]
	path = lib/klib
	url = https://github.com/attractivechaos/klib.git
[submodule "lib/cc"]
	path = lib/cc
	url = https://github.com/srdja/Collections-C.git
[submodule "lib/liblfds"]
	path = lib/liblfds
	url = https://github.com/Tengs-Penkwe/liblfds.git
[submodule "tests/Unity"]
	path = tests/Unity
	url = https://github.com/ThrowTheSwitch/Unity
