[submodule "lib/klib"]
	path = lib/klib
	url = https://github.com/attractivechaos/klib.git
[submodule "lib/cc"]
	path = lib/cc
	url = https://github.com/srdja/Collections-C.git
[submodule "lib/liblfds"]
	path = lib/liblfds
	url = git://liblfds.org/liblfds7.1.1
